<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CRM</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        {% block head %}{% endblock %}
        
    </head>
    <body>
        {% block navbar %} 
        <div class='topnav'> 
            <a href="{{ url_for('main.index') }}" class="{{ 'active' if request.path == url_for('main.index') else '' }}">Home</a> 
            <a href="{{ url_for('sales.index') }}" class="{{ 'active' if request.path.startswith('/sales') else '' }}">Sales</a> 
            <a href="{{ url_for('products.index') }}" class="{{ 'active' if request.path.startswith('/products') else '' }}">Products</a> 
            <a href="{{ url_for('customers.index') }}" class="{{ 'active' if request.path.startswith('/customers') else '' }}">Customers</a>
            {% if current_user.has_role('admin') or current_user.has_role('supervisor') %}
            <a href="{{ url_for('users.index') }}" class="{{ 'active' if request.path.startswith('/users') else '' }}">Users</a> {% endif %}
            <a class='logout' href="{{ url_for('auth.logout') }}">Logout</a> </div> 
        {% endblock %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>